name: CI

on: ["push", "pull_request"]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/cache@v3
        with:
          path: |
            ~/.nuget/packages
            ~/.cache/bepinex
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.x

      - name: Run the Cake script
        uses: cake-build/cake-action@v1
        with:
          verbosity: Diagnostic

      - uses: actions/upload-artifact@v3
        with:
          name: Reactor.dll
          path: Reactor/bin/Release/net6.0/Reactor.dll

      - uses: actions/upload-artifact@v3
        with:
          name: Reactor.nupkg
          path: Reactor/bin/Release/Reactor.*.nupkg

      - uses: actions/upload-artifact@v3
        with:
          name: Reactor.Debugger.dll
          path: Reactor.Debugger/bin/Release/net6.0/Reactor.Debugger.dll

      - uses: softprops/action-gh-release@v1
        if: github.ref_type == 'tag'
        with:
          draft: true
          files: Reactor/bin/Release/net6.0/Reactor.dll

      - name: Push nightly NuGet package
        if: github.repository == 'NuclearPowered/Reactor' && github.ref == 'refs/heads/master'
        run: |
          dotnet nuget push {Reactor/bin/Release/Reactor.*.nupkg,Reactor.Networking.Shared/bin/Release/*.nupkg} --source https://nuget.reactor.gg/v3/index.json --api-key ${{ secrets.REACTOR_NUGET_KEY }}
